@import "../sass/utils/mixins.scss";

.Interact {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  margin: 80px 0;
  &_title {
    margin-bottom: 40px;
    @include font(20px, 500, 24px, rgba(0, 0, 0, 1), "Montserrat");
  }
  &_button {
    width: 138px;
    height: 40px;
    @include flex-center;
    border-radius: 10px;
    background: rgba(255, 179, 108, 1);
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
      transform: translateY(-0.15em);
      box-shadow: 0 0 0.3em 0em;
    }
  }
}

.InteractList {
  @include flex-center;
  margin-bottom: 20px;
  gap: 40px;
  &_li {
    max-width: 270px;
  }
  &_img {
    width: 270px;
    height: 208px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  &_text {
    @include font(16px, 500, 20px, rgba(0, 0, 0, 1), "Montserrat");
  }
}
