.liquid-glass {
  position: relative;
  padding: 1.2rem 2rem;
  border-radius: 100vmax;
  isolation: isolate;
  background-color: rgb(255 255 255 / 25%);
  color: rgb(255 255 255 / 90%);
  text-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  font-size: 1rem;
  border: none;
  box-shadow: 0 6px 6px rgb(0 0 0 / 20%), 0 0 20px rgb(0 0 0 / 10%);
  text-align: center;
  user-select: none;
  cursor: pointer;
  backdrop-filter: blur(3px);

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    pointer-events: none;
  }

  &::before {
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    z-index: -1;
  }

  &::after {
    box-shadow: inset 2px 2px 1px 0 rgb(255 255 255 / 50%),
      inset -1px -1px 1px 1px rgb(255 255 255 / 50%);
  }
}
