.SeeMore {
  padding: 40px 77px;
  border-radius: 20px;
  background: rgba(232, 232, 232, 1);
  @media screen and (max-width: 768px) {
    padding: 30px;
  }
}

.SeeMoreList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 58px;
  list-style: none;
  margin: 0;
  padding: 0;
  @media (max-width: 768px) {
    gap: 30px 21px;
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  &_li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 1);
    @media screen and (max-width: 768px) {
      padding: 20px 0;
    }
    @media screen and (max-width: 480px) {
      padding: 15px 0;
    }
  }
  &_text {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    @media screen and (max-width: 768px) {
      margin-bottom: 8px;
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
    }
    @media screen and (max-width: 480px) {
      font-family: "Montserrat", sans-serif;
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
    }
  }
  &_data {
    margin-bottom: 23px;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    @media screen and (max-width: 768px) {
      margin-bottom: 37px;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 18px;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
    }
  }
  &_icons {
    width: 85px;
    height: 85px;
    @media screen and (max-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }
}
