@import "../sass/utils/mixins.scss";

.SeeMore {
  padding: 40px 77px;
  border-radius: 20px;
  background: rgba(232, 232, 232, 1);
  @media screen and (max-width: 768px) {
    padding: 30px;
  }
}

.SeeMoreList {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 58px;
  list-style: none;
  @media (max-width: 768px) {
    gap: 30px 21px;
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  &_li {
    @include flex($justify: center, $align: center, $direction: column);
    padding: 20px 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 1);
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
      transform: translateY(-0.15em);
      box-shadow: 0 0 0.2em 0em;
    }
    @media screen and (max-width: 768px) {
      padding: 20px 0;
    }
    @media screen and (max-width: 480px) {
      padding: 15px 0;
    }
  }
  &_text {
    margin-bottom: 10px;
    @include font(16px, 500, 20px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      margin-bottom: 8px;
      @include font(12px, 500, 15px);
    }
    @media screen and (max-width: 480px) {
      @include font(10px, 500, 12px);
    }
  }
  &_data {
    margin-bottom: 23px;
    @include font(32px, 500, 39px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      margin-bottom: 37px;
      @include font(16px, 500, 20px);
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 18px;
      @include font(14px, 500, 17px);
    }
  }
  &_icons {
    width: 85px;
    height: 85px;
    @media screen and (max-width: 768px) {
      width: 60px;
      height: 60px;
    }
  }
}
