.SeeMore {
  padding: 40px 77px;
  border-radius: 20px;
  background: rgba(232, 232, 232, 1);
}

.SeeMoreList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 58px;
  list-style: none;
  margin: 0;
  padding: 0;
  &_li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 10px;
    background: rgba(217, 217, 217, 1);
  }
  &_text {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  &_data {
    margin-bottom: 23px;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
  }
  &_icons {
    width: 85px;
    height: 85px;
  }
}
