.Hero {
  background-image: url("../../images/Hero-background.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.Hero_contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.Hero_title {
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.HeroList {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;

  &_li {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;

    &:first-child {
      max-width: 320px;
      text-align: right;
    }

    &:last-child {
      text-align: left;
    }
  }

  &_line {
    width: 3px;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
  }
}

.HeroSearch {
  position: relative;
  width: 100%;
  max-width: 625px;

  &_input {
    width: 100%;
    height: 42px;
    // color: rgba(135, 135, 135, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    background: rgba(217, 217, 217, 1);
    border: none;
    box-sizing: border-box;
    padding: 0 50px 0 20px;
    transition: box-shadow 0.35s;
    &:focus {
      box-shadow: 0 0 0.3em 0.3em rgba(135, 135, 135, 1);
    }
  }
  &_button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background: rgba(255, 179, 108, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_icon {
    width: 25px;
    height: 25px;
  }
}
