@import "../sass/utils/mixins.scss";

$trashColor1: #000000;
$trashColor2: #333333;
$trashColor3: #ffffff;
$transition: all 0.2s ease-in-out;

.weatherCard {
  max-width: 320px;
  max-height: 430px;
  padding: 15px 20px 21px;
  border-radius: 20px;
  background: rgba(232, 232, 232, 1);
  @media screen and (max-width: 768px) {
    padding: 12px 17px 17px;
  }
  @media screen and (max-width: 480px) {
    padding: 15px 15px 20px;
  }

  &_time {
    @include flex($justify: center);
    margin-bottom: 10px;
    @include font(24px, 500, 29px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      margin-bottom: 8px;
      @include font(20px, 500, 24px);
    }
  }
  &_forecast {
    @include flex-center;
    width: 114px;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 10px;
    background: rgba(255, 179, 108, 1);
    @include font(10px, 500, 12px, rgba(0, 0, 0, 1), "Montserrat");
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    &:hover {
      background-color: rgba(255, 140, 66, 1);
      box-shadow: 0 0 15px rgba(255, 179, 108, 0.6);
    }
    &:active {
      transform: scale(1.1);
    }
    @media screen and (max-width: 768px) {
      width: 93px;
      height: 23px;
      margin-bottom: 12px;
      font-size: 9px;
      line-height: 11px;
    }
  }
  &_temp {
    @include flex($justify: center);
    margin-bottom: 39px;
    @include font(32px, 500, 39px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      margin-bottom: 35px;
      @include font(24px, 500, 29px);
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 44px;
    }
  }
  &_icon {
    display: flex;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    transition: transform 0.4s ease;
    &:hover {
      transform: scale(1.3);
    }
    @media screen and (max-width: 768px) {
      width: 76px;
      height: 76px;
      margin-bottom: 25px;
    }
  }
}

.upperDiv {
  @include flex($direction: row, $justify: space-between);
  margin-bottom: 15px;
  @media screen and (max-width: 768px) {
    margin-bottom: 11px;
  }
  @media screen and (max-width: 480px) {
    margin-bottom: 25px;
  }
  &_text {
    @include font(14px, 500, 17px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      @include font(12px, 500, 15px);
    }
  }
}

.dateDiv {
  @include flex($direction: row, $justify: center);
  margin-bottom: 22px;
  gap: 13px;
  @media screen and (max-width: 768px) {
    margin-bottom: 27px;
  }
  &_date {
    @include font(14px, 500, 17px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      @include font(12px, 500, 15px);
    }
  }
  &_line {
    width: 1px;
    height: 17px;
    border: 1px solid rgba(0, 0, 0, 1);
  }
}

.weatherBtnDiv {
  @include flex($align: center);
  &_refresh {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 16px;
    transition: transform 0.4s ease;
    user-select: none;
    &:hover {
      transform: rotate(45deg);
    }
    @media screen and (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
  &_like {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 38px;
    user-select: none;
    fill: transparent;
    stroke: #000000;
    stroke-width: 2px;
    transition: transform 0.4s ease, fill 0.3s ease, stroke 0.3s ease;
    &:hover {
      transform: scale(1.1);
      stroke: #e02e00;
    }
    &.liked {
      fill: #ff0000;
      stroke: #ff0000;
    }
    @media screen and (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
  &_delete {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 37px;
    user-select: none;
    transition: transform 0.4s ease;
    &:hover {
      transform: scale(1.3);
    }
    @media screen and (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }
  &_seeMore {
    @include flex($direction: row, $justify: center, $align: center);
    border-radius: 10px;
    background: rgba(255, 179, 108, 1);
    width: 99px;
    height: 28px;
    @include font(10px, 500, 12px, rgba(0, 0, 0, 1), "Montserrat");
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    &:hover {
      background-color: rgba(255, 140, 66, 1);
      box-shadow: 0 0 15px rgba(255, 179, 108, 0.6);
    }
    &:active {
      transform: scale(1.1);
    }

    @media screen and (max-width: 768px) {
      width: 81px;
      height: 23px;
      @include font(9px, 500, 11px);
    }

    @media screen and (max-width: 480px) {
      width: 84px;
      height: 27px;
    }
  }
}

.trashBox {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin-left: 37px;

  @media screen and (max-width: 768px) {
    width: 24px;
    height: 24px;
  }

  &:hover .trashTop {
    transform: translate(-50%, -15%) rotate(-20deg);
  }

  &:hover .trashBtm {
    transform: translate(-50%, -100%) rotate(5deg);
  }

  &:hover .trash {
    top: 50%;
    transform: translate(-42%, -50%) rotate(35deg);
  }
}

.trashTop {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 80%;
  height: 15%;
  background: $trashColor1;
  border-radius: 2px;
  transform-origin: left bottom;
  transition: $transition;

  &::before {
    content: "";
    position: absolute;
    bottom: 95%;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 80%;
    background: inherit;
    border-radius: 2px 2px 0 0;
  }
}

.trashBtm {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 70%;
  height: 65%;
  background: $trashColor1;
  border-radius: 2px;
  transform-origin: left 70%;
  transition: $transition;
}

.trashLines {
  @include flex($justify: space-around);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;

  .trashLine {
    width: 20%;
    height: 100%;
    background: lighten($trashColor1, 20%);
    border-radius: 1px;
  }
}

.trash {
  position: absolute;
  top: 80%;
  left: 38%;
  transform: translate(-38%, -80%) rotate(35deg);
  width: 40%;
  height: 40%;
  background: $trashColor3;
  border-radius: 1px;
  transition: $transition;

  &::before {
    content: "";
    position: absolute;
    transform: translate(30%, -20%) rotate(25deg);
    width: 100%;
    height: 100%;
    background: darken($trashColor3, 10%);
    border-radius: 1px;
  }
}

@keyframes spin {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

.spin {
  animation: spin 0.6s ease-in-out;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.heartPop {
  animation: pop 0.4s ease;
}
