@import "../sass/utils/mixins.scss";

.filterContainer {
  --filter-text: rgba(0, 0, 0, 1);
  --filter-icon: #fff;
}

:global([data-theme="dark"]) .filterContainer {
  --filter-text: #ffffff;
  --filter-icon: #000;
}

.filterContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 25px 0;
  margin: 0 auto;
}

.filterItem {
  @include flex-center;
  cursor: pointer;
  font-size: 18px;
  user-select: none;

  &_input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &_span {
    @include flex-center;
    @include font(14px, 500, 17px, var(--filter-text));
    font-family: "Montserrat", sans-serif;
    gap: 10px;
    @media screen and (max-width: 768px) {
      @include font(12px, 500, 15px, var(--filter-text));
    }

    &::before {
      content: "";
      display: inline-block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 2px solid #ccc;
      background-color: transparent;
      transition: all 0.3s ease;
      box-sizing: border-box;
    }
  }

  input:checked ~ span::before {
    border-color: #ffb703;
    background-color: #ffb703;
    box-shadow: inset 0 0 0 4px var(--filter-icon);
  }
}
