.filterContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 25px 0;
  margin: 0 auto;
}

.filterItem {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  user-select: none;

  &_input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &_span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 15px;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 2px solid #ccc;
      background-color: transparent;
      transition: all 0.3s ease;
      box-sizing: border-box;
    }
  }

  input:checked ~ span::before {
    border-color: #ffb703;
    background-color: #ffb703;
    box-shadow: inset 0 0 0 4px #fff;
  }
}
