@import "../sass/utils/mixins.scss";

.HourlyChart {
  padding: 26px 40px;
  margin-bottom: 30px;
  border-radius: 20px;
  background: rgba(232, 232, 232, 1);
  @media screen and (max-width: 768px) {
    padding: 20px 35px;
  }
  @media screen and (max-width: 480px) {
    padding: 18px 25px;
  }
  &_title {
    @include font(16px, 600, 20px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      @include font(12px, 600, 15px);
    }
    @media screen and (max-width: 480px) {
      @include font(10px, 600, 12px);
    }
  }
}
