.Header {
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.HeaderList {
  display: flex;
  gap: 45px;
  list-style: none;
  @media screen and (max-width: 768px) {
    display: none;
  }
  &_li {
    cursor: pointer;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    transition: 0.2s;
  }
  &_li:hover {
    transform: scale(1.05);
  }
}

.HeaderRlist {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  @media screen and (max-width: 768px) {
    display: none;
  }
  &_btn {
    width: 89px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background: rgba(255, 179, 108, 1);
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    &:hover {
      background-color: rgba(255, 140, 66, 1);
      box-shadow: 0 0 15px rgba(255, 179, 108, 0.6);
    }

    &:active {
      transform: scale(1.1);
    }
  }
  &_container {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    position: relative;
  }
  &_logOut {
    position: absolute;
    background-color: transparent;
    top: 140%;
    right: -80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 101;
  }
  &_logOutBtn {
    width: 89px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    background: rgba(255, 179, 108, 1);
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    &:hover {
      background-color: rgba(255, 140, 66, 1);
      box-shadow: 0 0 15px rgba(255, 179, 108, 0.6);
    }

    &:active {
      transform: scale(1.1);
    }
  }
  &_username {
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  &_icon {
    width: 10px;
    height: 10px;
  }
  &_profile {
    cursor: pointer;
  }
}

.logoIcon {
  width: 82px;
  height: 56px;
  user-select: none;
  cursor: pointer;
}

.User {
  width: 50px;
  height: 50px;
}

.HeaderMobileMenu {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  user-select: none;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &_position {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &_text {
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }

  &_icon {
    width: 6px;
    height: 6px;
  }
}

.HeaderMenu {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-20px);
  width: 100vw;
  max-width: 100%;
  padding: 30px 50px;
  background: rgba(230, 230, 230, 1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 99;

  &.active {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.HeaderMenuRightDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.menuButton {
  display: block;
  cursor: pointer;
  position: relative;
  width: 45px;
  height: 45px;
  z-index: 101;

  input {
    display: none;
  }

  svg {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  .line {
    fill: none;
    stroke: #000;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);

    --length: 24;
    --total-length: 111.22813415527344;
    --offset: -50.22813415527344;

    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
  }

  .line2 {
    --total-length: 99;
    --offset: -38;
  }

  input:checked + svg .line {
    transform: translateX(30px);
  }

  input:checked + svg .line1,
  input:checked + svg .line3 {
    --length: 22.627416998;
    --offset: -16.9705627485;
  }

  input:checked + svg .line2 {
    --length: 0;
    --offset: -20;
  }
}
