.Footer {
  margin-top: auto;
  // background: rgba(255, 179, 108, 1);
  background: linear-gradient(
    180deg,
    #ffb36c 0,
    #d4773d 50%,
    #a05a2c 100%,
    // #6b3e1e 60%,
    // #3d2415 80%,
    // #1a1410 100%
  );
  padding: 40px 0;
  width: 100%;
  @media screen and (max-width: 768px) {
    padding: 45px 0;
  }
  &_link {
    cursor: pointer;
  }

  &_icons {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
    &:hover {
      transform: translateY(-0.3em);
    }
  }

  &_contentWrapper {
    display: flex;
    gap: 103px;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &_address {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    @media screen and (max-width: 480px) {
      font-size: 12px;
      line-height: 15px;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &_addressDescription {
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    @media screen and (max-width: 480px) {
      font-size: 8px;
      line-height: 10px;
    }
    @media screen and (max-width: 768px) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &_mobileWrapper {
    display: flex;
    justify-content: row;
    gap: 103px;
  }
}

.logoIcon {
  width: 90px;
  height: 62px;
  @media screen and (max-width: 320px) {
    width: 70px;
    height: 52px;
  }
}

.FooterContactUs {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  &_text {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    @media screen and (max-width: 480px) {
      font-size: 12px;
      line-height: 15px;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
  }
  &_list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
