@import "../sass/utils/mixins.scss";

.Footer {
  width: 100%;
  padding: 40px 0;
  margin-top: auto;
  background: linear-gradient(180deg, #ffb36c 0, #d4773d 50%, #a05a2c 100%);
  @media screen and (max-width: 768px) {
    padding: 45px 0;
  }
  &_link {
    cursor: pointer;
  }

  &_icons {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
    &:hover {
      transform: translateY(-0.3em);
    }
  }

  &_contentWrapper {
    display: flex;
    gap: 103px;
    @media screen and (max-width: 768px) {
      @include flex($wrap: wrap, $justify: center);
    }
  }

  &_address {
    margin-bottom: 10px;
    @include font(16px, 500, 20px, rgba(0, 0, 0, 1), "Montserrat Alternates");
    @media screen and (max-width: 480px) {
      @include font(12px, 500, 15px);
    }
    @media screen and (max-width: 768px) {
      @include font(14px, 500, 17px);
    }
  }

  &_addressDescription {
    @include font(12px, 500, 15px, rgba(0, 0, 0, 1), "Montserrat Alternates");
    @media screen and (max-width: 768px) {
      @include font(10px, 500, 12px);
    }
    @media screen and (max-width: 480px) {
      @include font(8px, 500, 10px);
    }
  }

  &_mobileWrapper {
    @include flex($justify: row);
    gap: 103px;
  }
}

.logoIcon {
  width: 90px;
  height: 62px;
  @media screen and (max-width: 320px) {
    width: 70px;
    height: 52px;
  }
}

.FooterContactUs {
  @media screen and (max-width: 768px) {
    @include flex($direction: column, $wrap: wrap, $align: center);
  }
  &_text {
    margin-bottom: 10px;
    @include font(16px, 500, 20px, rgba(0, 0, 0, 1), "Montserrat Alternates");
    @media screen and (max-width: 480px) {
      @include font(12px, 500, 15px);
    }
    @media screen and (max-width: 768px) {
      @include font(14px, 500, 17px);
    }
  }
  &_list {
    @include flex($direction: row);
    gap: 20px;
  }
}
