.DailyForecast {
  padding: 26px 77px 42px;
  border-radius: 20px;
  background: rgba(232, 232, 232, 1);
  @media screen and (max-width: 768px) {
    padding: 20px 35px 35px;
  }
  @media screen and (max-width: 480px) {
  }
  &_title {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    @media screen and (max-width: 768px) {
      margin-bottom: 17px;
      font-size: 12px;
      line-height: 15px;
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 25px;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.DailyForecastList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (max-width: 768px) {
    gap: 17px;
  }
  @media screen and (max-width: 480px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 43px;
  }
  &_li {
    padding: 0 50px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: row;
    border-radius: 10px;
    background: rgba(217, 217, 217, 1);
    @media screen and (max-width: 768px) {
      padding: 0 15px;
    }
    @media screen and (max-width: 480px) {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
    }
  }
  &_date {
    text-align: left;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 20px;
      font-size: 10px;
      line-height: 12px;
    }
  }
  &_icon {
    width: 40px;
    height: 40px;
    @media screen and (max-width: 768px) {
      width: 35px;
      height: 35px;
    }
    @media screen and (max-width: 480px) {
      width: 30px;
      height: 30px;
    }
  }
  &_description {
    text-align: right;
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
    @media screen and (max-width: 480px) {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.DailyForecastListTemperature {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
  &_text {
    color: rgba(0, 0, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
    @media screen and (max-width: 480px) {
      font-size: 10px;
      line-height: 12px;
    }
  }
  &_position {
    @media screen and (max-width: 480px) {
      margin-bottom: 15px;
    }
  }
}
