@import "../sass/utils/mixins.scss";

.DailyForecast {
  padding: 26px 77px 42px;
  border-radius: 20px;
  background: rgba(232, 232, 232, 1);
  @media screen and (max-width: 768px) {
    padding: 20px 35px 35px;
  }
  &_title {
    margin-bottom: 20px;
    @include font(16px, 600, 20px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      margin-bottom: 17px;
      @include font(12px, 600, 15px);
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 25px;
      @include font(10px, 600, 12px);
    }
  }
}

.DailyForecastList {
  @include flex($direction: column);
  gap: 10px;
  @media screen and (max-width: 768px) {
    gap: 17px;
  }
  @media screen and (max-width: 480px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 43px;
  }
  &_li {
    padding: 0 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    justify-content: row;
    border-radius: 10px;
    background: rgba(217, 217, 217, 1);
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
      transform: translateY(-0.15em);
      box-shadow: 0 0 0.2em 0em;
    }
    @media screen and (max-width: 768px) {
      padding: 0 15px;
    }
    @media screen and (max-width: 480px) {
      @include flex($direction: column);
      padding: 10px 0;
    }
  }
  &_date {
    text-align: left;
    @include font(16px, 500, 20px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      @include font(14px, 600, 17px);
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 20px;
      @include font(10px, 600, 12px);
    }
  }
  &_icon {
    width: 40px;
    height: 40px;
    @media screen and (max-width: 768px) {
      width: 35px;
      height: 35px;
    }
    @media screen and (max-width: 480px) {
      width: 30px;
      height: 30px;
    }
  }
  &_description {
    text-align: right;
    @include font(16px, 500, 20px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      @include font(14px, 500, 17px);
    }
    @media screen and (max-width: 480px) {
      @include font(10px, 500, 12px);
    }
  }
}

.DailyForecastListTemperature {
  @include flex($justify: center, $align: center);
  @media screen and (max-width: 480px) {
    @include flex($direction: column);
  }
  &_text {
    @include font(16px, 500, 20px, rgba(0, 0, 0, 1), "Montserrat");
    @media screen and (max-width: 768px) {
      @include font(14px, 500, 17px);
    }
    @media screen and (max-width: 480px) {
      @include font(10px, 500, 12px);
    }
  }
  &_position {
    @media screen and (max-width: 480px) {
      margin-bottom: 15px;
    }
  }
}
